*{
    background-color: #302f2f;
}
.main-div{
    background-color:#302f2f ;
    padding: 7px;
    margin: 7px;
    width: 400px;
    height: 570px;
    color: white;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: -1px 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 18px;  
     
}
.main-div button{
    background-color: black;
    color: white;
    padding:21px ;
    margin: 21px;
    border-radius: 999px;
    box-shadow: -8px,-8px 19px white
}
#s-p{
   display: grid;
}









































































































































































































































/* 


















































































































































body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.calculator {
    max-width: 300px;
    margin: 0 auto;
}

#display {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    padding: 10px;
    font-size: 1.2em;
} */